* {
  margin: 0;
  padding: 0;
}

body {
  background: grey;
}
header {
  height: 50px;
  text-align: center;
}

section.sekcja {
  display: flex;
  background: lightgrey;
  padding: 0px;
}

article {
  border: solid 1px navy;
  padding: 10px;
  flex: 1; /*wszystkie kolumny o tej samej szerokości */
}

article:nth-of-type(2){
  flex:3;
}

footer {
  height: 50px;
  background: navy;
}
