* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}

header {
  background: red;
  display: flex;
  flex-direction: row;
  justify-content: center ;
}

.logo {
  height: 3.16rem;
  padding-right: 4em;
}

.nawigacja {
  background: green;
}

.nawigacja li {
    display: inline-block;
    padding: 1rem 4rem;
    margin: 0 auto;
    background: grey;
}

.nawigacja li a {
  text-decoration: none;
}
