* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: navy;
  height: 100vh;
}

.klasa1 {
  background: red;
  height: 10%;
}
.klasa2 {
  background: green;
  height: 80%;
}

.menu {
  background: yellow;
  height: 100%;
  width: 200px;
  float: left;
}
.ramka {
  background: orange;
  height: 100%;
}

.klasa3 {
  background: blue;
  height: 10%;
}
